{% extends 'base.html.twig' %}
{% block title %}{{ projet.nomProjet }} - TaskLinker{% endblock %}
{% block body %}
    <main>
        <header>
            <div id="current-user"></div>
            <div id="title-page">
                <div class="flex-header">
                    <h1>{{ projet.nomProjet }}</h1>
                    <div class="user-list">
                        {% for employeProjet in employesProjet %}
                        <div class="avatar">{{ employeProjet.prenom|default('')|slice(0, 1)|upper}}{{ employeProjet.nom|default('')|slice(0, 1)|upper}}</div>
                        {% endfor %}
                    </div>
                    <a class="button" href="projet-edit.html">Modifier</a>
                </div>
            </div>
        </header>
        <div id="content">
            <div id="tasks-container">
                {% for statut in statuts %}
                <div class="task-column">
                    <h2>{{ statut.libelle }}</h2>
                    <div class="tasks-list">
                        <a class="task" href="tache.html">
                            <h3>Gestion des droits d&#039;accès</h3>
                            <p>Un employé ne peut accéder qu&#039;à ses projets</p>
                            <div class="task-infos">
                                <div class="task-deadline">
                                    <i class="fa-regular fa-calendar"></i> 22/09/2023
                                </div>
                            </div>
                        </a>
                        <a href="/projets/{{ projet.id }}/tache-add" class="task-add">
                            + Ajouter une tâche
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
