{% extends './base.html.twig' %}
{% block title %}Liste des employés - TaskLinker{% endblock %}
{% block body %}
    <main>
        <header>
            <div id="current-user"></div>
            <div id="title-page">
                <h1>{{ employe.prenom }} {{ employe.nom }}</h1>
            </div>
        </header>
        <div id="content">
            {{ form_start(formEditEmploye) }}
            <div>
                {{ form_row(formEditEmploye.nom,{label:'Nom'}) }}
            </div>
            <div>
                {{ form_row(formEditEmploye.prenom,{label:'Prénom'}) }}
            </div>
            <div>
                {{ form_row(formEditEmploye.emailPro,{label:'Email'}) }}
            </div>
            <div class="form-flex">
                <div>
                    {{ form_row(formEditEmploye.dateEntree, {label: 'Date d\'entrée'}) }}
                </div>
                <div>
                    {{ form_row(formEditEmploye.typeContrat, {label: 'Statut'}) }}
                </div>
            </div>
            <button class="button button-submit">Enregistrer</button>
            {{ form_end(formEditEmploye) }}
        </div>
    </main>
{% endblock %}
